{% extends 'mvapp/base.html' %}
{% load static %}
{%block title %}Eliminar Película{% endblock %}
{%block content %}
{% include 'mvapp/includes/mvapp_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row mb-5 mt-3">
      <form method="post">{% csrf_token %}
        <p>Esta seguro que quiere eliminar la película "{{ object }}"?</p>
        {% comment %} {{ form }} {% endcomment %}
        <input type="submit" value="Confirmar">
      </form>
    </div>
  </div>
</main>
{%endblock%}